/* variables */

:root {
    --color-primary: rgb(35, 81, 127);
    --color-primary-light: rgb(56, 120, 196);
    --color-primary-dark: rgb(3, 41, 84);
}

/* global reset */

* {
    padding: 0;
    margin: 0;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

html {
    font-size: 62.5%; /* 10px = 1rem */
}

body {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    background-color:rgb(242, 241, 241);

  
}
@media only screen and (max-width: 50rem){
    body{font-size: 50%;} /* 8px = 1rem */
}

/* header section */

.header {
    position: fixed;
    top: 0;
    left: 0;
    height: 6rem;
    width: 100%;
    background-color: var(--color-primary);
    display: flex;
    flex-direction: column;
    justify-content: center;
}


/* logo */

.logo-box {
    margin-left: 1rem;

}


.logo {
    color: lightgrey;
    font-size: 3rem;
    letter-spacing: 2.5px;
    text-transform: uppercase;
}

.des {
    font-size: 1.3rem;
    color: lightgrey;
    letter-spacing: 1px;
    text-transform: uppercase;
}

/* navbar */
.container{
    display:flex;
    position: fixed;
    top:0;
    right:0;
    left:0;
    bottom:0;
    align-self: stretch;

}


#navbar {
    margin-top: 6rem;
    flex:0 0 18%;
    border-right: 1px solid lightgrey;
    background-color: white;
    height: 100vh;
    display: flex;
    flex-direction: column;


}
#main-doc{
    flex:1;
    overflow-y: auto;
    background-color:white;
    margin-top: 6rem;
    margin-left: 3rem;
    padding: 3rem;
    
}

.navtitle{
    margin: 2rem;
    font-size: 1.5rem;
    color:rgba(85, 85, 85, 0.753);
    text-transform: uppercase;

}

.nav-link:link,
.nav-link:visited{
    margin: 1rem 3rem;
    font-size:1.2rem;
    text-decoration: none;
    color: grey;

}

/* media query */

/*nav bar */
